:root {
    --bg-margin: 20px;
}

body, html{
    height:100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
}

.bg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('main_tinny_1.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    max-height: calc(100% - var(--bg-margin));
    height: calc(100% - var(--bg-margin));
    width: calc(100% - var(--bg-margin));
    max-width: calc(100% - var(--bg-margin));
}

.bg-container {
    aspect-ratio: 327 / 613;
    max-height: calc(100% - var(--bg-margin));
    max-width: calc(100% - var(--bg-margin));
    margin: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

#container {
    position:center;
    height:50%
}

#invisible {
    opacity: 0;
}

.bars-btn {
    min-width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 54%;
}

#map {
    width: 100%;
    margin-top: 6%;
    height: 42%;
}

.bottom-can {
    display: flex;
    margin-top: 16%;
    margin-left: 10%;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#bars {
    background-color: rgb(212, 196, 250);
    width: 40%;
    margin-right: 10%;
}

#bar_percentage {
    background-color: rgb(212,196,250);
    width: 40%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    line-height: 250%;
}

.google-cont {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(180,180,180);
    border-radius: 5px;
}

.google-img {
    background-image: url("https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}

.google-text {
    font-size: 22px;
    margin-left: 20px;
}